@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-size: 2em;
    color: white;
}

#score,
#control-panel {
    position: absolute;
    top: 20px;
    right: 20px;
}

#control-panel {
    top: 60px;
}

.progress-container {
    stroke: darken(#392f32, 5%);
    stroke-width: 2px;
    fill: #392f32;
}

.progress-content {
    stroke: darken(#65a30d, 5%);
    stroke-width: 2px;
    fill: #65a30d;

    &.progress-bar {

        &-opponent {
            stroke: darken(#c2410c, 5%);
            fill: #c2410c;
        }

        &-circular {
            stroke: darken(#3b82f6, 5%);
            fill: #3b82f6;
        }

        &-energy {
            stroke: darken(#ec4899, 5%);
            fill: #ec4899;

            // fill: #6366f1;
        }
    }
}

.bonus-animation {
    opacity: 1;
    animation: flying 2s 0s 1;
}

.hand-animate {
    animation: hovering 2s 0s infinite;
}

.hourglass-animated {
    animation: rotation 2s 0s infinite;
}

@keyframes hovering {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(20%);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flying {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-15rem);
        opacity: 0;
    }
}
