
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-size: 2em;
  color: white;
}


#score, #control-panel {
  position: absolute;
  top: 20px;
  right: 20px;
}

#control-panel {
  top: 60px;
}
